@import "../node_modules/ol/ol.css";

html, body {
    margin: 0;
    padding: 1%;
    height: 100%;
}

.popup-content img {
    max-width: 100%;
    height: auto;
}

.popup-dismiss {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    background: black;
    color: white;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 12px;
}

#popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    z-index: 1000;
    transform: translate(-50%, -100%); /* Position the pop-up above the pin */
    white-space: nowrap;
}

#map {
    height: 80%;
    width: 100%;
}